<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dropdowns | Authentic Learning at UoB</title>
    <meta
      name="description"
      content="Here you can see which departments and courses offer Authentic-Learning based teaching at the University of Bristol, in a simple drop-down menu format."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
      {% accordion_styles %}

      html,
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
      }
    </style>
  </head>

  <body>
    {% authentic_learning_accordion %}
  </body>
</html>
