<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Map | Authentic Learning at UoB</title>
    <meta
      name="description"
      content="Here you can see which departments and courses offer Authentic-Learning based teaching at the University of Bristol, in an interactive map."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css"
      rel="stylesheet"
    />

    <style>
      {% accordion_styles %}
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      .mapboxgl-popup {
        max-width: 40rem !important;
        width: 100%;
        min-width: 30vh;
        max-width: 60vh;
      }
      .mapboxgl-popup-close-button {
        height: 1rem;
        background-color: #ffcece;
        padding: 5px;
      }
      .mapboxgl-popup-content {
        max-height: 60vh;
        overflow-y: scroll;
        border-style: solid;
        border-color: grey;
      }
      .mapboxgl-popup-content h6 {
        font-size: 160%;
        margin: 0.5rem;
      }

      #map,
      body,
      html {
        margin: 0;
        width: 100%;
        height: 100%;
      }

      #info {
        position: absolute;
        top: 1rem;
        margin: 0;
        right: 1rem;
        padding: 0.5rem;
        z-index: 99;
        background-color: #fffa;
        border-radius: 1rem;
        max-width: 30vw;
        backdrop-filter: saturate(200%) blur(3px);
      }
      #info summary {
        text-align: right;
        outline: none;
      }
    </style>
  </head>

  <body>
    <details id="info">
      <summary>Info</summary>
      <h4>
        Here you can see which departments and courses offer Authentic-Learning
        based teaching at the University of Bristol.
      </h4>
      <p>
        You can view an accessible version with dropdown menus
        <a href="/dropdown">here</a>
      </p>
      Research by <a href="https://marniewoodmeade.co.uk">Marnie Woodmeade</a>,
      code by <a href="https://lukestorry.co.uk">Luke Storry</a>. Please email
      <a
        href="mailto:luke@storry.uk?subject=Authentic Learning at Uob website issues"
        >luke@storry.uk</a
      >
      with any suggestions or issues.
    </details>
    <div id="map"></div>

    <script>
      let authenticLearningFeatures = {% authentic_learning_geojson %};
      mapboxgl.accessToken = "pk.eyJ1IjoibHVrZXN0b3JyeSIsImEiOiJjazV2bXcycGIxaGw2M29wYmh2emVhd2JsIn0.LcBndAqyKWIRt-PXwLanyQ";

      var map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/streets-v11",
        center: [
          -2.603, 51.4584
        ],
        zoom: 15,
        pitch: 45
      });

      map.on("load", removePoiLabels);
      map.on("load", addAuthenticLearningPoints);
      map.on("load", add3dBuildingLayer);
      map.on("click", (e) => console.log(e.lngLat.toArray().join(",")));

      async function addAuthenticLearningPoints() {
        console.log("GeoJson: ", {
          authenticLearningFeatures,
          count: authenticLearningFeatures.features.length,
          totalSize: authenticLearningFeatures
            .features
            .reduce((s, f) => s + f.properties.size, 0)
        });

        map.addSource("authentic-learning-points", {
          type: "geojson",
          data: authenticLearningFeatures
        });
        map.addLayer({
          id: "authentic-learning-text",
          type: "symbol",
          source: "authentic-learning-points",
          layout: {
            "text-field": ["get", "name"]
          }
        });
        map.on("click", "authentic-learning-text", function (e) {
          var coordinates = e
            .features[0]
            .geometry
            .coordinates
            .slice();
          new mapboxgl
            .Popup()
            .setLngLat(coordinates)
            .setHTML(e.features[0].properties.html)
            .addTo(map);
        });
        map.on("mouseenter", "authentic-learning-text", function () {
          map
            .getCanvas()
            .style
            .cursor = "pointer";
        });
        map.on("mouseleave", "authentic-learning-text", function () {
          map
            .getCanvas()
            .style
            .cursor = "";
        });

        map.addLayer({
          id: "authentic-learning-heatmap",
          type: "heatmap",
          source: "authentic-learning-points",
          paint: {
            // Increase the heatmap weight based on size property
            "heatmap-weight": [
              "interpolate",
              ["linear"],
              [
                "get", "size"
              ],
              0,
              0,
              15,
              1
            ]
          }
        }, "waterway-label");
      }

      function removePoiLabels() {
        map
          .style
          .stylesheet
          .layers
          .forEach((layer) => {
            if (layer.id === "poi-label") {
              map.removeLayer(layer.id);
            }
          });
      }

      function add3dBuildingLayer() {
        map.addLayer({
          id: "3d-buildings",
          source: "composite",
          "source-layer": "building",
          filter: [
            "==", "extrude", "true"
          ],
          type: "fill-extrusion",
          minzoom: 14,
          paint: {
            "fill-extrusion-color": "#eee",
            "fill-extrusion-opacity": 0.8,
            "fill-extrusion-height": [
              "interpolate",
              ["linear"],
              ["zoom"],
              14.5,
              0,
              15.5,
              [
                "get", "height"
              ]
            ]
          }
        },
        // Insert the layer beneath any symbol layer.
        map.getStyle().layers.find((layer) => layer.type === "symbol" && layer.layout["text-field"]).id);
      }
    </script>
  </body>
</html>
